[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Environment=ZOO_LOG_DIR=/opt/zookeeper/logs
Type=forking
User=zookeeper
Group=zookeeper
ExecStart=/opt/zookeeper/current/bin/zkServer.sh start /opt/zookeeper/current/conf/zookeeper.conf
ExecStop=/opt/zookeeper/current/bin/zkServer.sh stop /opt/zookeeper/current/conf/zookeeper.conf
ExecReload=/opt/zookeeper/current/bin/zkServer.sh restart /opt/zookeeper/current/conf/zookeeper.conf
WorkingDirectory=/var/lib/zookeeper

[Install]
WantedBy=default.target